<h3 class="text-center" style="font-weight: bold; color: #074377;">
  Bem-vindo(a) à API interativa da LocPay!
</h3>

<p style="
  width: 600px;
  margin: 40px auto;
  color: #074377;
  background-color: #80c2f4;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #000;
  font-family: 'Montserrat';
">
  Essa API simplificada permite simular e gerenciar operações de antecipação de aluguel entre recebedores (proprietários) e a LocPay. 
  Aqui, é possível adicionar recebedores, editar suas informações e deletá-los, se necessário. 
  Também é possível adicionar novas operações de antecipação. A taxa de 3% é calculada automaticamente no back-end e o valor líquido é enviado ao recebedor.
</p>
